body{
	font-family: 'Quicksand', sans-serif;

}
#right-paragraph{
	font-size: 16px;
}
.nice-web{
	border: 1px solid rgb(150,150,150);
	background-color: #f6f6f6;
	border-radius: 7px;
	padding: 10px;
}
